.App {
  text-align: center;
  padding: 10px 10px 0 10px;
  font-family: 'Poppins Roboto';
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0%;
  padding: 0%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.color-picker {
  max-width: 280px;
  z-index: 100000000000000000;
  position: absolute;
}

.bb-1 {
  border-bottom: 1px solid gray;
}

#font-picker {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #2196F3;
  box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2) !important;
  z-index: 2;

  button {
    background-color: rgba(0, 0, 0, 0.06);
    height: 100%;
  }
}

.relative {
  position: relative;
}

.font-selector {
  max-width: 20px;
}

.grid {
  position: relative;
}

.select {
  text-align: left;
  text-align-last: left;
  padding-left: 10px;
  border-radius: 2px 2px 0px 0px;
  background-color: rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid #2196F3;
}

.settings {
  box-shadow: #282c34;
}

.input {
  div {
    border-bottom: 1px solid #2196F3;
    height: 55px;
  }
}

.form {
  padding: 20px;
  text-align: left;

  @media only screen and(max-width: 540px) {
    .main>* {
      margin-bottom: 10px !important;

      .clr-gray {
        margin-bottom: 0px !important;
      }

      .mb-20 {
        margin-bottom: 0px !important;
      }
    }
  }

}

div[id="menu-fontColor"] {

  // not run
  div[tabindex="-1"] {
    // not run
    display: none;
  }
}

div[id="menu-secondaryColor"] {
  div[tabindex="-1"] {
    display: none;
  }
}

div[id="menu-primaryColor"] {
  div[tabindex="-1"] {
    display: none;
  }
}

.h-55 {
  height: 55px;
}

.submit-div {
  text-align-last: end;
}

.upload-btn {
  background-color: #E3F2FD !important;
  color: #2196F3 !important;

  &.submit-btn {
    width: 60%;
  }

  &.save-btn {
    width: 30%;
    position: absolute;
    right: 5%;
    bottom: 0px;
  }
}

.carousel-cont {
  position: relative;
  // max-height: 50vh;
  min-height: 60vh;
  width: 100%;
  flex-direction: column;
}

.choose_file {
  position: relative;
  display: flex;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-0 {
  margin-top: 0px;
}

.p-10 {
  padding: 10px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-10 {
  padding-bottom: 10px;
}


.pb-16 {
  padding-bottom: 16px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.drop-shadow {
  border-radius: 5px;
  width: 20px;
  margin-right: 5px;
  cursor: pointer;
  height: 20px;
}

.user-form-dialog {
  padding: 20px;
}

.downloads {
  position: relative;
  padding: 20px;
  padding-bottom: 40px;
}

.clr-gray {
  background-color: rgba(0, 0, 0, 0.06);
}

.form-input {
  position: relative;
}

.warning {
  background-color: #FFF5E5;
  width: 83%;
  border-radius: 5px;
  box-shadow: 5px 10px 8px 3px #b1afaf;
  z-index: 2;
  position: absolute;
  inset: 40px 0px 0px 0px;
  padding: 20px;
  height: 5px;
  display: flex;
  align-items: center;
  transition: all 10s ease;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.ml-5 {
  margin-left: 5px;
}


.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.pr-5 {
  padding-right: 5px;
}

.apply {
  visibility: visible;
  opacity: 1;
}

.main {
  text-align: left;
  min-width: 45%;
  cursor: pointer;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  line-break: anywhere;
  margin: 15px 10px 20px 0;

  &.no-cursor {
    cursor: none;
    position: relative;
  }

  .blue {
    padding: 5px;
    min-width: 100%;
    min-height: 30px;
    background-color: #5C6BC0;

    &.first {
      @extend .pb-10;
      font-weight: 800;
      min-height: 42px;
      font-size: 24px;
    }
  }

  .red {
    @extend .pb-5;
    background-color: red;
    width: 50%;
    padding-left: 5px;
    min-height: 25px;
  }
}

.first {
  font-weight: 800;
}

.secondtext .second {}

.third {}

.fourth {}

.fifth {}

.carousel-root {
  display: flex;
  width: 100%;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.border {
  padding: 10px;
  border: 1px solid #2196F3;
}

.row {
  flex-direction: row;
  align-items: center;
  display: -webkit-inline-box;
}

.carousel-main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;

  &.scroll {
    overflow: scroll;
    overflow-x: hidden;
  }

  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(210, 210, 210, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  #style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  #style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(239, 239, 239, 0.3);
    background-color: #555;
  }

  // &.all-border>* {
  //   border: 1px solid black;
  // }
  max-height: 50vh;

  .carousel-slider {
    padding: 30px;
  }

  .control-arrow {
    opacity: 1;
  }

  .control-next {
    height: fit-content;
    top: 45% !important;
  }

  .control-next::before {
    content: url("../src/assets/arrownext.svg") !important;
  }

  .control-next:hover {
    background: none !important;
  }

  .control-prev {
    height: fit-content;
    top: 45% !important;
  }

  .control-prev::before {
    content: url("../src/assets/arrowprev.svg") !important;
  }

  .control-prev:hover {
    background: none !important;
  }
}

.secondlogo {
  min-height: 45px;
  width: 45px !important;
  border-radius: 50%;
}

.carousel {
  padding: 10px;
  width: 100%;

  .carousel-status {
    display: none;
  }

  .control-dots {
    color: lightgray;

    li {
      margin-left: -25px !important;
      margin-right: 45px !important;
    }
  }
}

.secondtext {
  text-align: start;
  min-width: 100%;
  padding: 0px 5px 5px 5px;
  min-height: 55px;
  background-color: #5C6BC0;
  display: flex;
  flex-direction: column;
}

.second-inner {
  display: flex;
  align-items: center;
  min-width: 100%;
  line-break: anywhere;
}

.red-four {
  margin: -7px 0 0 10px;
  min-height: 20px;
}

.bg-red {
  background-color: red;
}

.five {
  background-color: red;
  position: relative;
  height: 100%;
  height: 60px;

  div:first-child {
    position: absolute;
    top: 0%;
    min-width: 0;
    width: 90%;
    height: 36px;
  }

  div:nth-child(2) {
    position: absolute 0%;
    margin-left: 5px;
  }
}

.z-2 {
  z-index: 2;
}

.min-200 {
  min-width: 200px;
}

.shadow-picker {
  display: flex;
  height: 300px;
  width: 300px;
}

.h-95 {
  min-height: 95%;
}

.h-50px {
  min-height: 50px;
}

.h-250px {
  min-height: 250px;
}

#assets>* {
  min-width: 45%;
  max-width: 45%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 15px 10px 20px 0;
}